{% extends 'calendar_app/base.html' %}

{% block content %}
    <div class="event">
        {% if event.start_time %}
            <div class="date">
                {{ event.start_time.date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'event_edit' pk=event.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'event_remove' pk=event.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h1>{{ event.event_title }}</h1>
        <p>Start Time: {{ event.start_time|time:"h:i:a" }}</p>
        <p>End Time: {{ event.end_time|time:"h:i:a"}}</p>
        <p>Event Location: {{ event.location }}</p>
        <p>Event Type: {{ event.event_type }}</p>
        <p>Event URL: {{ event.event_url|linebreaksbr}}</p>

    </div>
{% endblock %}